*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth; /* Permite desplazarme a la seccion que hago clic */
}
header{
  position: fixed;
  z-index: 999;
  top: 0;
}
.offcanvas a{
  color: white;
}
.offcanvas h5{
  font-family: 'Righteous';
}
.offcanvas h5:hover{
  color: #D32F2F;
}
.bg-dark {        /* contorno del header */
  background-color: violet
}
.container-fluid{         /* fondo del header */
  background-color: black
}
.navbar{
  background-color: black
}
.navbar-toggler {
  color:black
}
a {
  text-decoration: none; /* quita subrayado a hipervinculos */
}
.LogoHeader{
  width: 20%;
  padding-left: 2%;
}
.LogoHeader img{
  width: 20%;
  height: auto;
}
.SeccionesHeader{
  margin-left: auto; 
  margin-right: auto;
  display: flex;
  list-style:none; /* quita punto de lista*/
  width: 75%;
  justify-content: space-around;
  font-size: large;
}
.SeccionesHeader a{
  color: white;
  font-weight: bold;
}
.SeccionesHeader a:hover{
  color: orangered;
  transition: 0.5s;
}
.navbar-toggler{
  display: none; /* Oculta el burguer menu */
}
.fa-whatsapp{ /* icono whats app */
  color: rgba(37,211,102,1) !important;
  font-weight: bold;
}
.fa-phone{
  color: red;
}
.fa-envelope{
  color: white;
}
.active{
  font-weight: bold;
}
.fa-instagram{
  color: rgb(252, 101, 126);
}
.fa-facebook{
  color: #2d5f9a;
}
.fa-linkedin{
  color: #005182;
}
.fa-location-dot{
  color: rgba(255, 0, 0, 0.773);
}
.offcanvas-body{
  color: white;
}
.nav-item a{
  color: white;
}
.nav-item a:hover{
  color: #D32F2F
}
.developerHeader a{
  font-weight: bold;
  color: rgb(18, 224, 187);
  cursor: pointer;
}
.developerHeader a:hover{
  color: #D32F2F
}

/* Tablets */
@media (max-width:800px){ 
  .navbar-toggler{ 
      display: block;   /* Muestra el burguer menu */
      border: none;
  }
  .SeccionesHeader{
    display: none;
  }
  .LogoHeader img{
    width: 40%;
    height: auto;
  }
}

/* Celular */
@media (max-width:480px){ 
  .LogoHeader img{
    width: 70%;
    height: auto;
  }
}